
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: gateways.raven.openyurt.io
spec:
  group: raven.openyurt.io
  names:
    kind: Gateway
    listKind: GatewayList
    plural: gateways
    singular: gateway
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.activeEndpoints[*].endpoint.nodeName
      name: ActiveEndpoints
      type: string
    - jsonPath: .status.central
      name: Central
      type: boolean
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Gateway is the Schema for the gateways API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GatewaySpec defines the desired state of Gateway
            properties:
              central:
                description: Central indicates a gateway can be the central gateway
                type: boolean
              endpoints:
                description: TODO add a field to configure using vxlan or host-gw
                  for inner gateway communication? Endpoints is a list of available
                  Endpoint.
                items:
                  description: Endpoint stores all essential data for establishing
                    the VPN tunnel. TODO add priority field?
                  properties:
                    config:
                      additionalProperties:
                        type: string
                      type: object
                    nodeName:
                      description: NodeName is the Node hosting this endpoint.
                      type: string
                    publicIP:
                      type: string
                    underNAT:
                      type: boolean
                  required:
                  - nodeName
                  type: object
                type: array
              nodeSelector:
                description: NodeSelector is a label query over nodes that managed
                  by the gateway. The nodes in the same gateway should share same
                  layer 3 network.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: matchLabels is a map of {key,value} pairs. A single
                      {key,value} in the matchLabels map is equivalent to an element
                      of matchExpressions, whose key field is "key", the operator
                      is "In", and the values array contains only "value". The requirements
                      are ANDed.
                    type: object
                type: object
              replicas:
                description: Replicas is the desired number of active endpoints.
                type: integer
            required:
            - endpoints
            type: object
          status:
            description: GatewayStatus defines the observed state of Gateway
            properties:
              activeEndpoints:
                description: ActiveEndpoints is a list of active endpoints
                items:
                  description: ActiveEndpoint defines the active endpoint that selected
                    by controller manager.
                  properties:
                    endpoint:
                      description: Endpoint is the reference of the active endpoint.
                      properties:
                        config:
                          additionalProperties:
                            type: string
                          type: object
                        nodeName:
                          description: NodeName is the Node hosting this endpoint.
                          type: string
                        publicIP:
                          type: string
                        underNAT:
                          type: boolean
                      required:
                      - nodeName
                      type: object
                    forwards:
                      description: Forwards contains all vpn connections this active
                        endpoint managed by. This field is used only when the gateway
                        is the central gateway.
                      items:
                        description: Forward stores the traffic that the central gateway
                          is responsible for forwarding
                        properties:
                          from:
                            type: string
                          to:
                            type: string
                        required:
                        - from
                        - to
                        type: object
                      type: array
                    healthy:
                      description: Healthy indicates whether this active endpoint
                        is healthy
                      type: boolean
                    nodes:
                      description: Nodes contains all information of nodes managed
                        by active endpoint.
                      items:
                        description: NodeInfo stores information of node managed by
                          Gateway.
                        properties:
                          nodeName:
                            type: string
                          privateIP:
                            type: string
                          subnets:
                            items:
                              type: string
                            type: array
                        required:
                        - nodeName
                        - privateIP
                        - subnets
                        type: object
                      type: array
                  required:
                  - endpoint
                  - healthy
                  - nodes
                  type: object
                type: array
              central:
                description: Central indicates a gateway is the central gateway
                type: boolean
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
